
$def with (posts)

<h1>This is code wizard</h1>

$posts
$for post in posts:
$post['user']['name']

$post['content']

<h3>posts</h3>
$for post in posts:
<div class="post-card">
    <a href="/profile/$post['username']">$post['user']['name']</a>
    <span class="timestamp">$post['timestamp']</span>
</div>

<div class="comments">
    $for comment in post["comments"]:
    <div class="comments">
        <div class="header">
            <div class="avatar">
                <span class="comment-timestamp pull-right">Posted $comment['timestamp']</span>
            </div>
        </div>
    </div>
</div>

<div class="comment add">
    <div class="header">
        <form class="comment-form">
            <input name="post_id" class="hidden" value="$post['_id]"/>
            <textarea name="comment-text" class="form-control" placeholder="Write a comment"></textarea>
            <button type="submit" class="btn btn-info btn-raised">Add Comment</button>
        </form>
    </div>
</div>