<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p><input name="name" class="form-control no-border" value="$session['user']['name']"/></p>
<span class="post-subtitle">About</span>

<h3>Avatar</h3>
<div class="avatar">
<img src="$session['user']['avatar']" class="profile-avatar"/>
    <h4 class="profile-name">$session['user']['name']</h4>
</div>

<div class="post-card extra-padding">
    <h2>Images</h2>
    <form id="avatar-upload" method="Post" enctype="multipart/form-data" action="/upload-image/avatar">
        <input type="file" name="avatar" class=""/>
        <button type="submit" class="btn btn-info">Save</button>
    </form>
    <span class="post-subtitle">Background Image</span>
    <form id="background-upload" method="post" enctype="multipart/form-data" action="/upload-image/background">
        <input type="file" name="background" class="" />
        <button type="submit" class="btn btn-info"/>
    </form>

</div>
</body>
</html>